<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=AQS;User ID=sa;Password=123456" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="EmptyValueString" value="—"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISyncService" maxBufferPoolSize="205536000"
          maxBufferSize="205536000" maxReceivedMessageSize="205536000" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://219.131.199.90:8340/SyncAirMonitorPublishData/SyncService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISyncService"
        contract="SyncNationalAQIPublishDataService.ISyncService" name="BasicHttpBinding_ISyncService" />
    </client>
  </system.serviceModel>
</configuration>